@model OgrenciYoklama.Models.ogrenciders

@{
    ViewBag.Title = "YoklamaEkle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>YoklamaEkle</h2>


<table class="table">
    @foreach (var Ogrenci in @Model.Ogrenciler)
    {


        <tr class="default">

            <td class="text-center active"><b>@Ogrenci.ogrenci_ad</b></td>
            <td class="text-center active"><b>@Ogrenci.ogrenci_soyad</b></td>

            <td class="text-center active">
                <button type="submit" class="btn btn-xs btn-primary">
                    <span class="glyphicon glyphicon-edit"></span> <b>Düzenle</b>
                </button>

                <button type="submit" class="btn btn-xs btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> <b>Sil</b>
                </button>

            </td>
        </tr>
    }

</table>

